name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12"]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install System Dependencies
        run: |
            sudo apt-get update
            sudo apt-get install -y graphviz libcairo2

      - name: Install uv
        uses: astral-sh/setup-uv@v1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install just
        uses: extractions/setup-just@v1

      - name: Install dependencies
        run: |
          uv sync --all

      - name: Run Lint
        run: just lint

      - name: Run Tests
        run: just test

      - name : Verify Coverage
        run: just coverage
